#main
	.container
		.row
			.col-xs-12
				#logo
					.background
						%i.ifont-slideshow
					.foreground 
						%h1 Practation


		.row
			.col-xs-12.col-md-8.col-md-offset-2
				#login
					%form{ role: 'form', action: sign_in_path, method: 'POST', :data => {:remote => true, :type => 'json'} }
						.form-group
							%level{ for: 'email' } Email Address
							%input.form-control#email{ type: 'email', placeholder: 'Email Address', name: 'email'}
						.form-group
							%level{ for: 'password' } Password
							%input.form-control#email{:type => 'password', :placeholder => 'Password', :name => 'pass'}

						.submit
							%button.btn.btn-default.btn-lg{:type => 'submit', data: {:'disable-with' => 'Logging in...'}} Login

						.options
							= link_to("Forgot Password", "#")
							= '•'
							= link_to("Sign Up", "#")

	.band
		.container
			.row
				.col-xs-12.col-md-8.col-md-offset-2
					#hero
						.quote
							%h2 "The best app we've ever used."
						.source
							%h3 - Best Co.

	.container
		.row
			.col-sm-4.col-sm-offset-2
				.callout
					%h2
						What is
						%span.brand Practation
						?

					%p Practation in the simplest form is the best way to practice for your presentations. Our innovative new web application allows you to improve your public speaking and presentation skills by rehearsing using your laptop as an aide. It will analyse your words provide cues when needed, offer suggestions on areas to improve and even allow you to control your presentation entirely through speech.
	

			.col-sm-4
				.big-icon
					=image_tag "cloudz.png"

		.row
			.col-sm-4.col-sm-offset-2
				.big-icons
					= fa_icon 'microphone', class: 'brand-colour'
					= fa_icon 'long-arrow-right'
					= fa_icon 'file-text', class: 'brand-colour'
				
			.col-sm-4
				.callout
					%h2
						How Does
						%span.brand Practation
						Work?

					%h4 Three modes:
					%p Practices shows you all of the words on your script, marking what words were spoken clearly and enunciated, and areas of concern for possible improvement. 
					%p Rehearse mode is slightly different snowing words only when the user is paused and requires a prompt to go further. This mode also takes notes of areas of concern and possible room for improvement.
					%p Presentation mode, has an option to prompt on screen with text when required, and has voice cues that allow you to change slides without clicking a button.
